* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.box{
    width: 20vw;
    height: 20vh;
    background-color: aquamarine;
    margin: 40vh auto;
    transition: 1s;
}
.box:hover{
    background-color: burlywood;
    transform: scale(1.5);
    cursor: pointer;
}